version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: baoden
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: markdown_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: 123456789
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data: